option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app.main:app
  aws:elasticbeanstalk:application:environment:
    ENVIRONMENT: production
    PORT: 8000
    PYTHONPATH: /var/app
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: app/static

packages:
  yum:
    python3-devel: []
    gcc: []
    ffmpeg: []

container_commands:
  01_mkdir_storage:
    command: "mkdir -p app/storage/characters app/storage/renders app/storage/thumbs"
  02_permissions:
    command: "chmod -R 755 app/storage"
  03_init_db:
    command: "python3 init_db.py"
